/r-work/rserve-example/target
/r-work/rserve-example/rserve-example.iml
/r-work/rserve-example/.idea
/r-work/tmp
/spark-work/ml-study/.idea
/spark-work/ml-study/target
/spark-work/ml-study/ml-study.iml
/cube/descartes-exanple/descartes-exanple.iml
/cube/descartes-exanple/.idea
/cube/descartes-exanple/target
/tensorflow-work/.idea
/python-work/src/.idea
